.diferenciales {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem; 
}

.diferenciales__lista {
    flex-flow: wrap;
    justify-content: space-evenly;
    }

.diferenciales__item {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    padding: 4rem;
}

.item__titulo {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 19px;
    text-transform: uppercase;
    color: #4F4C4C;
}

.item__texto {
    line-height: normal;
}

.diferenciales__item-reloj {
    background-image: url(../img/icono-reloj.png);
}

.diferenciales__item-enfoque {
    background-image: url(../img/icono-enfoque.png);
}

.diferenciales__item-quimica {
    background-image: url(../img/icono-quimica.png);
}