.diferenciales {
    justify-content: space-between;
    flex-direction: row;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem; 
}

.diferenciales__lista {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

.diferenciales__item {
    display: flex;
    box-sizing: content-box;
    padding: 2rem 0 2rem 5rem;
    background-repeat: no-repeat;
}

.item__titulo {
    display: flex;
    align-self: start;
    color: var(--fuente-ceniza-oscuro);
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.item__texto {
    display: flex;
    align-items: baseline;
    line-height: normal;
}

.diferenciales__item-reloj {
    background-image: url(../img/reloj.png);
}

.diferenciales__item-dinero {
    background-image: url(../img/ahorro.png);
}

.diferenciales__item-quimica {
    background-image: url(../img/quimico.png);
}