.head {
    color: var(--background-blanco);

    width: 100%;
    box-sizing: border-box;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    position: absolute;
}

.head__logo {
    margin-bottom: 1rem;
    width: 65px;
    height: 65px;

}

.head__navegacion {
    text-align: center;
}

.head__enlace {
    font-size: 1.1rem;

    display: inline-block;

    margin-right: .7rem;
    margin-bottom: .7rem;
    margin-left: .7rem;
}
